.feature {
	padding: 5px 50px;
	background-color: #e7d4c3;
	margin: 0 auto;
}

.feature h1 {
	font-family: "Libre Baskerville", serif;
	color: #372414;
	width: 500px;
	font-size: 55px;
}

.feature p {
	font-family: "Nunito Sans", serif;
	color: #674831;
	font-style: italic;
	font-size: 25px;
}

.article {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 30px;
}

.feature1,
.feature2,
.feature3 {
	width: 30%;
	margin-top: 15px;
}
.feature1 h2,
.feature2 h2,
.feature3 h2 {
	font-family: "EB Garamond", serif;
	color: #3d1f14;
	font-size: 33px;
}

.feature1 p,
.feature2 p,
.feature3 p {
	font-family: "Nunito Sans", serif;
	color: #674831;
	font-size: 22px;
	width: 300px;
}

.feature i {
	font-size: 25px;
	color: #8b420f;
	/* color: #b7a087; */
}

@media (min-width: 320px) and (max-width: 374px) {
	.feature {
		padding: 5px 20px;
		background-color: #e7d4c3;
		margin: 0 auto;
	}

	.feature h1 {
		font-size: 15px;
		width: 180px;
	}

	.feature p {
		font-size: 11px;
		text-align: left;
	}
	.feature1 h2,
	.feature2 h2,
	.feature3 h2 {
		font-size: 13px;
	}

	.feature1 p,
	.feature2 p,
	.feature3 p {
		font-size: 10px;
		width: 80px;
	}

	.feature i {
		font-size: 15px;
	}

	.article {
		gap: 14px;
	}
}

@media (min-width: 375px) and (max-width: 424px) {
	.feature {
		padding: 5px 20px;
		background-color: #e7d4c3;
		margin: 0 auto;
	}

	.feature h1 {
		font-size: 19px;
		width: 200px;
	}

	.feature p {
		font-size: 13px;
		text-align: left;
	}
	.feature1 h2,
	.feature2 h2,
	.feature3 h2 {
		font-size: 15px;
	}

	.feature1 p,
	.feature2 p,
	.feature3 p {
		font-size: 13px;
		width: 105px;
	}

	.feature i {
		font-size: 19px;
	}

	.article {
		gap: 16px;
	}
}

@media (min-width: 425px) and (max-width: 767px) {
	.feature {
		padding: 5px 20px;
		background-color: #e7d4c3;
		margin: 0 auto;
	}

	.feature h1 {
		font-size: 20px;
		width: 290px;
	}

	.feature p {
		font-size: 15px;
		text-align: left;
	}
	.feature1 h2,
	.feature2 h2,
	.feature3 h2 {
		font-size: 17px;
	}

	.feature1 p,
	.feature2 p,
	.feature3 p {
		font-size: 15px;
		width: 105px;
	}

	.feature i {
		font-size: 19px;
	}

	.article {
		gap: 19px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.feature {
		/* margin: 50px 40px; */
		padding: 5px 40px;
		background-color: #e7d4c3;
		margin: 0 auto;
	}

	.feature h1 {
		font-family: "Libre Baskerville", serif;
		font-size: 40px;
		width: 350px;
	}

	.feature p {
		font-size: 20px;
	}

	.feature1 h2,
	.feature2 h2,
	.feature3 h2 {
		font-family: "EB Garamond", serif;
		color: #3d1f14;
		font-size: 28px;
	}

	.feature1 p,
	.feature2 p,
	.feature3 p {
		font-size: 18px;
		width: 210px;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.feature {
		padding: 5px 50px;
		background-color: #e7d4c3;
		margin: 0 auto;
	}

	.feature h1 {
		font-family: "Libre Baskerville", serif;
		font-size: 45px;
	}

	.feature p {
		font-size: 25px;
	}

	.feature1 h2,
	.feature2 h2,
	.feature3 h2 {
		font-size: 30px;
	}

	.feature1 p,
	.feature2 p,
	.feature3 p {
		font-size: 20px;
		width: 250px;
	}
}

@media (min-width: 2560px) {
	.feature h1 {
		width: 800px;
		font-size: 65px;
	}

	.feature p {
		font-size: 45px;
	}

	.feature1 h2,
	.feature2 h2,
	.feature3 h2 {
		font-size: 53px;
	}

	.feature1 p,
	.feature2 p,
	.feature3 p {
		font-size: 40px;
		width: 600px;
	}

	.feature i {
		font-size: 40px;
	}
}
