.cookieForm {
	margin: 100px 50px;
	background-color: #d0b396;
	border-radius: 40px;
	height: 610px;
}
.cookieForm h1 {
	font-family: "Libre Baskerville", serif;
	color: #372414;
	font-size: 45px;
	text-align: center;
	padding-top: 20px;
}
.cookieForm p {
	font-family: "Nunito Sans", serif;
	color: #674831;
	font-style: italic;
	font-size: 20px;
	text-align: center;
	margin-bottom: 30px; /* Added space below the paragraph */
}

.cookieForm img {
	width: 33px;
	padding-right: 10px;
}

.cookieForm button {
	margin: 5px;
}

.cookieForm h3 {
	font-family: "EB Garamond", serif;
	color: #3d1f14;
	font-size: 20px;
}

.cookieForm span {
	font-family: "Nunito sans", serif;
	color: #3d1f14;
	font-style: italic;
}

.cookieForm button {
	background-color: #f7ebdf;
	border: none;
	padding: 10px 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 10px;
}

.cookieForm button:hover {
	background-color: #b8857b; /* Darker shade of orange on hover */
	transform: scale(1.05); /* Slightly enlarge the button */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.cookieForm button:active {
	transform: scale(0.98); /* Slightly shrink the button to simulate pressing */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Shadow becomes more prominent */
}
.orderSectionContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.orderSection {
	padding-left: 30px;
}

.userFieldContainer {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	justify-content: space-between;
	width: 20%;
}

.userFields {
	flex: 1;
	min-width: 250px; /* Ensures input fields are spaced well */
}

.userFields label {
	font-family: "Nunito sans", serif;
	color: #3d1f14;
	font-style: italic;
	font-size: 20px;
	margin-bottom: 5px; /* Added some space below labels */
}

.userFields input {
	border: none;
	background: transparent;
	border-bottom: 2px solid #ac746c;
	width: 140%;
	outline: none;
	font-size: 15px;
	color: #674831;
	margin-bottom: 20px;
	padding: 10px 5px; /* Added padding for input fields */
}

.mixPack {
	padding-right: 50px;
}

.mixPack p {
	font-size: 20px;
	font-family: "Nunito Sans", serif;
	color: #674831;
}

.userFieldContainer button {
	background: linear-gradient(90deg, #3d1f14, #674831);
	border: none;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0px 4px 6px rgba(190, 165, 165, 0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	font-family: "Libre Baskerville", serif;
	color: #dac1b1;
	font-size: 15px;
	padding: 15px 60px;
	text-decoration: none;
	align-self: center;
}

.userFieldContainer button:hover {
	transform: scale(1.05);
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.userFieldContainer button:active {
	transform: scale(0.98);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.totalPrice {
	font-family: "EB Garamond", serif;
	color: #3d1f14;
	font-weight: 700;
	font-size: 20px;
	margin-left: 50px;
	margin-top: -60px;
}

@media (min-width: 320px) and (max-width: 374px) {
	.cookieForm {
		margin: 20px 10px;
		padding: 10px;
		height: auto;
		border-radius: 20px;
	}

	.cookieForm h1 {
		font-size: 15px;
	}

	.cookieForm h3 {
		font-size: 15px;
	}
	.cookieForm p {
		font-size: 15px;
		margin-bottom: 20px;
	}

	.orderSectionContainer {
		flex-direction: column;
		padding: 0;
	}

	.orderSection {
		padding-left: 0;
		margin-bottom: 20px;
	}

	.userFieldContainer {
		flex-direction: column;
		width: 95%;
		margin-top: 0;
	}

	.userFields {
		min-width: 100%;
		margin-bottom: 10px;
	}

	.userFields input {
		width: 100%;
		font-size: 13px;
		padding: 8px 4px;
	}

	.mixPack {
		padding: 0;
	}

	.mixPack p {
		font-size: 14px;
	}

	.userFieldContainer button {
		width: 100%;
		font-size: 14px;
		padding: 12px 20px;
		margin-top: 10px;
	}

	.totalPrice {
		font-size: 15px;
		margin-left: 0;
		margin-top: 10px;
		text-align: center;
	}

	.cookieForm span {
		font-size: 14px;
	}
}

@media (min-width: 375px) and (max-width: 424px) {
	.cookieForm {
		margin: 35px 20px;
		padding: 10px;
		height: auto;
		border-radius: 20px;
	}

	.cookieForm h1 {
		font-size: 19px;
	}

	.cookieForm h3 {
		font-size: 19px;
	}
	.cookieForm p {
		font-size: 15px;
		margin-bottom: 20px;
	}

	.orderSectionContainer {
		flex-direction: column;
		padding: 0;
	}

	.orderSection {
		padding-left: 0;
		margin-bottom: 20px;
	}

	.userFieldContainer {
		flex-direction: column;
		width: 95%;
		margin-top: 0;
	}

	.userFields {
		min-width: 100%;
		margin-bottom: 10px;
	}

	.userFields input {
		width: 100%;
		font-size: 15px;
		padding: 8px 4px;
	}

	.mixPack {
		padding: 0;
	}

	.mixPack p {
		font-size: 15px;
	}

	.userFieldContainer button {
		width: 100%;
		font-size: 15px;
		padding: 12px 15px;
		margin-top: 10px;
	}

	.totalPrice {
		font-size: 15px;
		margin-left: 0;
		margin-top: 10px;
		text-align: center;
	}

	.cookieForm span {
		font-size: 15px;
	}
}

@media (min-width: 425px) and (max-width: 767px) {
	.cookieForm {
		margin: 35px 20px;
		padding: 10px;
		height: auto;
		border-radius: 20px;
	}

	.cookieForm h1 {
		font-size: 20px;
	}

	.cookieForm h3 {
		font-size: 20px;
	}
	.cookieForm p {
		font-size: 17px;
		margin-bottom: 20px;
	}

	.orderSectionContainer {
		flex-direction: column;
		padding: 0;
	}

	.orderSection {
		padding-left: 0;
		margin-bottom: 20px;
	}

	.userFieldContainer {
		flex-direction: column;
		width: 95%;
		margin-top: 0;
	}

	.userFields {
		min-width: 100%;
		margin-bottom: 10px;
	}

	.userFields input {
		width: 100%;
		font-size: 17px;
		padding: 8px 4px;
	}

	.mixPack {
		padding: 0;
	}

	.mixPack p {
		font-size: 17px;
	}

	.userFieldContainer button {
		width: 100%;
		font-size: 17px;
		padding: 12px 15px;
		margin-top: 10px;
	}

	.totalPrice {
		font-size: 17px;
		margin-left: 0;
		margin-top: 10px;
		text-align: center;
	}

	.cookieForm span {
		font-size: 15px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.cookieForm {
		margin: 35px 40px;
		padding: 10px;
		height: auto;
		border-radius: 20px;
	}

	.cookieForm h1 {
		font-size: 40px;
	}

	.cookieForm h3 {
		font-size: 25px;
	}
	.cookieForm p {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.orderSectionContainer {
		flex-direction: column;
		padding: 0;
		padding-left: 10px;
	}

	.orderSection {
		padding-left: 0;
		margin-bottom: 20px;
	}

	.userFieldContainer {
		flex-direction: column;
		width: 95%;
		margin-top: 0;
	}

	.userFields {
		min-width: 100%;
		margin-bottom: 10px;
	}

	.userFields input {
		width: 100%;
		font-size: 20px;
		padding: 8px 4px;
	}

	.mixPack {
		padding: 0;
	}

	.mixPack p {
		font-size: 20px;
	}

	.userFieldContainer button {
		width: 100%;
		font-size: 20px;
		padding: 12px 15px;
		margin-top: 10px;
	}

	.totalPrice {
		font-size: 20px;
		margin-left: 0;
		margin-top: 10px;
		text-align: center;
	}

	.cookieForm span {
		font-size: 17px;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.cookieForm {
		margin: 50px auto;
		padding: 20px;
		height: auto;
		border-radius: 30px;
		max-width: 80%;
	}

	.cookieForm h1 {
		font-size: 45px;
	}

	.cookieForm h3 {
		font-size: 25px;
	}

	.cookieForm p {
		font-size: 25px;
		margin-bottom: 25px;
	}

	.orderSectionContainer {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.userFieldContainer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 20px;
	}

	.userFields {
		flex: 1;
		min-width: 280px;
		margin: 0 10px;
	}

	.userFields input {
		width: 100%;
		font-size: 22px;
		padding: 10px 6px;
	}

	.userFieldContainer button {
		font-size: 22px;
		padding: 14px 40px;
		margin-top: 20px;
		align-self: center;
		margin-left: 50px;
	}

	.totalPrice {
		font-size: 25px;
		text-align: left;
		margin-left: 30px;
		margin-top: 20px;
	}
}

@media (min-width: 1440px) and (max-width: 2559px) {
	.userFields input {
		width: 118%;
	}
}

@media (min-width: 2560px) {
	.cookieForm {
		margin: 100px 50px;
		background-color: #d0b396;
		border-radius: 40px;
		height: 1150px;
	}
	.cookieForm h1 {
		font-size: 55px;
		padding-top: 20px;
	}
	.cookieForm p {
		font-size: 45px;
		text-align: center;
		margin-bottom: 30px; /* Added space below the paragraph */
	}

	.cookieForm img {
		width: 75px;
		padding-right: 10px;
	}

	.cookieForm button {
		margin: 5px;
	}

	.cookieForm h3 {
		font-family: "EB Garamond", serif;
		color: #3d1f14;
		font-size: 43px;
	}

	.cookieForm span {
		font-size: 28px;
		margin: 0 10px;
	}

	.cookieForm button {
		padding: 20px 20px;
		border-radius: 15px;
		font-size: 40px;
	}

	.orderSection {
		padding-left: 35px;
	}

	.userFields {
		margin-top: 70px;
	}

	.userFields label {
		font-size: 40px;
	}

	.userFields input {
		border-bottom: 3px solid #ac746c;
		width: 100%;
		font-size: 40px;
	}

	.mixPack p {
		font-size: 40px;
		font-family: "Nunito Sans", serif;
		color: #674831;
	}

	.userFieldContainer button {
		border-radius: 40px;
		color: #dac1b1;
		font-size: 40px;
		padding: 15px 60px;
		margin-bottom: 90px;
	}

	.totalPrice {
		font-size: 40px;
	}
}
