.hero {
	display: flex;
	margin: 40px 50px;
}

.hero img {
	height: 500px;
	margin-top: 10px;
	border-radius: 3px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.hero article {
	margin-top: 5px;
}
.hero h1 {
	font-family: "Libre Baskerville", serif;
	color: #372414;
	font-size: 55px;
	text-align: center;
	width: 850px;
}

.hero p {
	font-family: "Nunito Sans", serif;
	color: #674831;
	width: 750px;
	text-align: left;
	margin-left: 90px;
	font-style: italic;
	font-size: 25px;
}

.hero button {
	/* background: none;
	border: none;
	font-family: "EB Garamond", serif;
	color: #372414;
	font-size: 30px; */
	margin-left: 80px;
	background: linear-gradient(90deg, #3d1f14, #674831);
	border: none;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0px 4px 6px rgba(190, 165, 165, 0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	font-family: "Libre Baskerville", serif;
	color: #dac1b1;
	font-size: 15px;
	padding: 15px 60px;
	text-decoration: none;
	align-self: center;
	margin-top: 19px;
}

.hero button:hover {
	transform: scale(1.05);
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.hero button:active {
	transform: scale(0.98);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

@media (min-width: 320px) and (max-width: 374px) {
	.hero {
		margin: 10px 20px;
	}
	.hero article {
		margin-left: 2px;
	}

	.hero h1 {
		font-size: 15px;
		width: 150px;
	}

	.hero p {
		font-size: 11px;
		width: 140px;
		margin-left: 5px;
	}

	.hero img {
		height: 125px;
		margin-left: 10px;
		margin-top: 40px;
	}

	.hero button {
		font-size: 8px;
		margin-left: 5px;
		margin-top: 2px;
		padding: 10px 15px;
	}
}

@media (min-width: 375px) and (max-width: 424px) {
	.hero {
		margin: 10px 20px;
	}
	.hero article {
		margin-left: 5px;
	}

	.hero h1 {
		font-size: 20px;
		width: 150px;
	}

	.hero p {
		font-size: 14px;
		width: 140px;
		margin-left: 5px;
	}

	.hero img {
		height: 170px;
		margin-left: 13px;
		margin-top: 90px;
	}

	.hero button {
		font-size: 13px;
		margin-left: 5px;
		margin-top: 2px;
		padding: 10px 15px;
	}
}

@media (min-width: 425px) and (max-width: 767px) {
	.hero {
		margin: 10px 20px;
	}
	.hero article {
		margin-left: 5px;
	}

	.hero h1 {
		font-size: 20px;
		width: 200px;
	}

	.hero p {
		font-size: 16px;
		width: 190px;
		margin-left: 5px;
	}

	.hero img {
		height: 190px;
		margin-left: -3px;
		margin-top: 90px;
	}

	.hero button {
		font-size: 15px;
		margin-left: 5px;
		margin-top: 2px;
		padding: 10px 15px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.hero {
		margin: 40px 20px;
	}

	.hero h1 {
		font-size: 30px;
		width: 355px;
	}

	.hero p {
		width: 300px;
		margin-left: 45px;
		font-size: 20px;
	}
	.hero img {
		height: 380px;
		margin-left: -8px;
		/* margin-top: 40px; */
	}
	.hero button {
		font-size: 15px;
		margin-left: 39px;
		margin-top: 2px;
		padding: 10px 15px;
	}
}
